# Server Configuration
PORT=3001

# Database Configuration
MONGODB_URI=

# GROQ Configuration
GROQ_API_KEY=
HEADER_KEY=

# Login
JWT_TOKEN_SECRET=

# Discord
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_TOKEN=
DISCORD_REDIRECT_URI='http://localhost:3001/api/auth/redirect'